<% provide :title do %>
  <%= t("layouts.header.collaborative_legislation") %> - <%= t("legislation.processes.index.filters.#{@current_filter}") %>
<% end %>

<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: legislation_processes_path(page: 1),
             i18n_namespace: "legislation.processes.index.search_form" %>
<% end %>

<% if @search_terms || @advanced_search_terms %>
  <%= render Shared::SearchResultsSummaryComponent.new(
    results: @processes,
    search_terms: @search_terms,
    advanced_search_terms: @advanced_search_terms
  ) %>
<% else %>
  <%= render "shared/section_header", i18n_namespace: "legislation.processes.index.section_header", image: "legislation_processes" %>
<% end %>

<div class="row">
  <div id="legislation" class="legislation-list small-12 medium-9 column">
    <%= render Shared::AdvancedSearchComponent.new %>

    <%= render "shared/filter_subnav", i18n_namespace: "legislation.processes.index" %>

    <div id="legislation-list">
      <% if @processes.any? %>
        <%= render @processes %>
        <%= paginate @processes %>
      <% else %>
        <div class="callout primary margin-top">
          <%= t("legislation.processes.index.no_#{@current_filter}_processes") %>
        </div>
      <% end %>

      <div id="section_help" class="margin" data-magellan-target="section_help">
        <p class="lead">
          <strong><%= t("legislation.processes.index.section_footer.title") %></strong>
        </p>
        <p><%= t("legislation.processes.index.section_footer.description") %></p>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 column">
    <aside class="margin-bottom">
      <div id="tag-cloud">
      <h2 class="sidebar-title"><%= t("legislation.processes.index.tags_cloud.tags") %></h2>
      <br>
      <ul class="no-bullet tag-cloud">
        <% @tags.each do |tag| %>
          <li class="inline-block">
            <%= link_to legislation_processes_path(search: tag.name) do %>
              <span class="tag"><%= tag.name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

      <%= render SDG::Goals::TagCloudComponent.new("Legislation::Process") %>
    </aside>
  </div>
</div>
