<h2><%= t("admin.documents.new.title") %></h2>

<%= form_for @document,
             url: admin_site_customization_documents_path do |f| %>

 <div class="small-12 medium-6 large-4">
    <%= f.file_field :attachment %>
    <%= f.text_field :documentable_id %>
  </div>

  <div class="margin-top">
    <%= f.submit t("admin.documents.new.submit_button"), class: "button success" %>
  </div>
<% end %>
