<div class="feeds-list feeds-processes">
  <% @feeds.each do |feed| %>
    <% if feed_processes?(feed) %>
      <% Legislation::Process::CATEGORIES.each do |category| %>
        <% kind = feed.kind %>

        <section id="feed_<%= "#{kind}_#{category}".underscore %>" class="widget-feed feed-<%= kind %>">
          <header>
            <h2 class="title"><%= t("welcome.feed.most_active.#{category.underscore}") %></h2>
          </header>

          <% collection = category == "ConsultaPrevia" ? "consultation" : "participation" %>
          <% if feed.send("#{collection}_open_processes").any? || feed.send("#{collection}_past_processes").any? %>
            <div class="feed-content">
              <% ["#{collection}_open_processes", "#{collection}_past_processes"].each do |method| %>
                <% feed.send(method).each do |item| %>
                  <div class="feed-item <%= method.include?("open") ? "open" : "closed" %>">
                    <%= link_to item.title, url_for(item) %>
                    <span><%= t("welcome.feed.proposals", count: item.proposals.count) %></span>
                  </div>
                <% end %>
              <% end %>
            </div>

            <%= link_to t("welcome.feed.see_all.#{category.underscore}"),
                        legislation_processes_path(search: category),
                        class: "see-all" %>
          <% else %>
            <div class="no-items callout primary"><%= t("welcome.feed.no_items.#{kind}") %></div>
          <% end %>
        </section>
      <% end %>
    <% end %>
  <% end %>
</div>
